<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Hello, world!</title>
		<link rel="stylesheet" href="../static/css/base.css">
	</head>

	<body>
		<div class="layout">

			<header class="my-2 bg-blue5">
				<div class="container d-flex bg-blue3">
            <div class="p-2 mr-auto bg-blue2 menu-item">Ogden.Rent</div>
            <div class="p-2 bg-blue2 menu-item-left px-3">Log out</div>
            <div class="p-2 bg-blue2 menu-item">Dashboard</div>
				</div>
			</header>

			<main>
				<div class="container-fluid py-5 bg-gray2">
          <div class="row h-100">
						<div class="col-2 bg-gray3  text-center">
							<a href="howto_google_maps.asp">Google Maps</a><br>
							<a href="howto_css_animate_buttons.asp">Animated Buttons</a><br>
							<a href="howto_css_modals.asp">Modal Boxes</a><br>
							<a href="howto_js_animate.asp">Animations</a><br>
							<a href="howto_js_progressbar.asp">Progress Bars</a><br>
							<a href="howto_css_dropdown.asp">Hover Dropdowns</a><br>
							<a href="howto_js_dropdown.asp">Click Dropdowns</a><br>
							<a href="howto_css_table_responsive.asp">Responsive Tables</a><br>

						</div>
						<div class="col-10 bg-gray4 text-white">
							<form id="stepped" action="#" method="post">
								<div class="container">
								 <div class="row justify-content-center">
									<div class="col-12">
									 <h1 class="text-center py-3">Multi step form with vanilla JS in Bootstrap 4</h1>
									</div>
									<div class="col-md-10">
									 <div class="indicators d-flex justify-content-around py-4 text-light">
										<div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">1</div>
										<div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">2</div>
										<div class="rounded-circle bg-secondary px-2 shadow-sm mr-2">3</div>
										<div class="rounded-circle bg-secondary px-2 shadow-sm">4</div>
									 </div>
									</div>
									<div class="col-md-8">
									 <div class="fix-height position-relative">
										<div class="steps">
										 <div class="row justify-content-center">
											<div class="col">
											 <div class="form-group">
												<label for="inp1">Label 1-1</label>
												<input type="text" id="inp1" class="form-control">
											 </div>
											</div>
											<div class="col">
											 <div class="form-group">
												<label for="inp12">Label 1-2</label>
												<input type="text" id="inp12" class="form-control">
											 </div>
											</div>
										 </div>
										</div>
										<div class="steps">
										 <div class="form-group">
											<label for="inp2">Label 2</label>
											<input type="text" id="inp2" class="form-control">
										 </div>
										</div>
										<div class="steps">
										 <div class="form-group">
											<label for="inp3">Label 3</label>
											<input type="text" id="inp3" class="form-control">
										 </div>
										</div>
										<div class="steps">
										 <div class="form-group">
											<label for="inp4">Label 4</label>
											<input type="text" id="inp4" class="form-control">
										 </div>
										</div>
									 </div>
									</div>
									<div class="col-md-8 text-right">
									 <button type="button" class="btnPrev btn btn-outline-success">Prev</button>
									 <button type="button" class="btnNext btn btn-outline-success">Next</button>
									</div>
								 </div>
								</div>
							 </form>
							
						</div>
          </div>
        </div>
			</main>

			<footer class="py-0 bg-blue5">
				<div class="container bg-blue4">
          <div class="row h-100 justify-content-center align-items-center bg-blue4 text-white">
            <div class="col-12 text-center py-3">
              <h4>Ogden.Rent</h4>
              <span class="p-2 lead"><small><em>Copyright &copy; 2022</em></small></span>
              <span class="p-2">All rights reserved.</span>
            </div>
        </div>
			</footer>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>